body {
	background: #fefbf5;
}

* {
	font-family: "Roboto", sans-serif;
	width: 100%;
}

.h1-height {
	height: 50px;
}

.grow {
	animation: fadein 1s, run 1s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.winner {
	animation: party ease 1s infinite;
}

@keyframes party {
	0% {
		color: pink;
	}

	25% {
		color: red;
	}

	50% {
		color: green;
	}

	75% {
		color: blue;
	}

	100% {
		color: orange;
	}
}

.points {
	animation: fadein 1s, run 1s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes run {
	100% {
		transform: translateX(30px);
	}
}

.btn-width {
	width: 500px;
}

.margin-top {
	margin: 100px 0px;
	padding: 0 10px;
}

.text-winner {
	font-size: 30px;
	padding: 0;
}

@media (max-width: 800px) {
	.btn-width {
		width: 60%;
	}
}

@media (max-width: 400px) {
	.margin-top {
		margin: 50px 0px;
		padding: 0 10px;
	}

	.btn-width {
		width: 100%;
	}

	.text-winner {
		font-size: 15px;
	}
}

.color-dark {
	color: #00161d;
}

.color-light {
	color: #ccc;
}

.bg-color-dark {
	border: 1px solid #3b0000c0;
	border-radius: 5px;
}

.bg-btn-color {
	background: linear-gradient(0deg, #bcaaa4 20%, #d7ccc8 50%, #bcaaa4 100%);
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 10px 2px #d7ccc8;
}

.bg-btn-color:focus {
	outline: none;
}

.ylw-text-color {
	color: #e91e63;
}

.success-text {
	color: #388e3c;
}

.mute-text {
	color: #795548;
}

.currentPoints {
	display: inline;
}

.points {
	position: absolute;
	left: 80px;
	display: inline;
}

.btn-dark {
	width: 175px;
}

.btn-dark:hover {
	background-color: #008000;
}

.line-height {
	line-height: 30px;
}

.question {
	height: 100px;
}
